.form-box {
  margin: auto;
  max-width: 15rem;
}

.event-form-box {
  margin: auto;
  max-width: 30rem;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.form-error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}
